.head-title{
	text-align: center;
	color: #cca300;
	background: url(FBX_01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	position: relative;
	bottom: 20px;

}
.head-sub{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}
.header{
	background-color: #a6a6a6;
	font-size: 20px;
	text-align: center;
	
}
.header-sub{
	color:#262626;

}

